.linkCard {
    padding: 2rem;
    background: var(--background-2);
    border-radius: 10px;
    box-shadow: 0px 0px 6px var(--purple);
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-property: box-shadow, transform;
    transition-duration: .2s;
    
    &:hover {
        box-shadow: 0px 0px 10px var(--green);
        transform: scale(1.05);
    }
    
    div {
        display: flex;
        align-items: center;
        
        img {
            height: 3.75rem;
            border-radius: 10px;
        }
        
        span {
            font-size: 1.75rem;
            margin-left: 1.5rem;
        }
    }
    
    img:last-child {
        height: 3rem;
    }
}


// mobile

@media(max-width: 1200px) {
    .linkCard {
        padding: 1.5rem;

        div {
            img {
                height: 3rem;
            }

            span {
                font-size: 1.5rem;
                margin-left: 1rem;
            }
        }
    
        img:last-child {
            height: 2.5rem;
        }
    }
}

@media(max-width: 850px) {
    .linkCard {
        padding: 1rem;

        div {
            img {
                height: 2.5rem;
                border-radius: 5px;
            }

            span {
                font-size: 1.25rem;
                margin-left: 1rem;
            }
        }
    
        img:last-child {
            height: 2.25rem;
        }
    }
}

@media(max-width: 450px) {
    .linkCard {
        div {
            img {
                height: 2rem;
            }

            span {
                font-size: 1.25rem;
                margin-left: .75rem;
            }
        }
    
        img:last-child {
            height: 1.5rem;
        }
    }
}