.container {
    width: 100vw;
    padding: 6rem 0;
    opacity: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.show {
        opacity: 1;
    }
    
    main {
        width: min(80%, 1100px);
        position: relative;
        margin-top: 4rem;

        section > a {
            transition: color, .2s;
            position: absolute;
            right: .5rem;
            top: .75rem;

            &:hover {
                color: var(--green);
            }
        }

        .projects {
            width: 100%;
            margin-top: .25rem;
            border-top: 1px solid var(--purple);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .project {
                height: 11rem;
                position: relative;
                text-align: center;
                cursor: pointer;

                &:hover span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover img {
                    filter: brightness(.6);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: filter, .2s;
                }

                span {
                    width: 100%;
                    height: 100%;
                    font-weight: bold;
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}