:root {
  --background: #202020;
  --text: #DDDDDD;
  --purple: #a32ddf;
  --purple-light: #dd80ff;
  --green: #04d361;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  background: var(--background) url('../../public/images/wallpaper.png') no-repeat fixed center / cover;
  color: var(--text);
  font: 400 1rem 'Inter', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  font-weight: normal;
}

p {
  font-size: 1.5rem;
}

button, a {
  cursor: pointer;
  color: inherit;
  border: none;
  background: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 8px;
  transition: .2s;
}

::-webkit-scrollbar-thumb:active {
  background: var(--green);
}

#nprogress {
  position: relative;
  z-index: 999;
}

#nprogress .bar {
  background: var(--purple);
  height: 3px;
}

/* responsive fonts */

@media(max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media(max-width: 768px) {
  html {
      font-size: 87.5%;
  }
}