.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;

    ul {
      list-style: none;
      display: flex;
      align-items: center;

      &:first-child {
        li {
          cursor: pointer;

          &:hover {
            color: var(--purple-light);
          }
        }
      }

      li {
        margin: 1rem;
        display: flex;
        align-items: center;
        transition: color .2s;

        img {
          width: 2rem;
          margin-right: .5rem;
        }

        a {
          display: flex;
          align-items: center;
          transition: color .2s;

          &:hover {
            color: var(--green);
          }
        }
      }
    }
  }

  main {
    margin: 4rem 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    header {
      margin-bottom: 5rem;
      text-align: center;
    }

    section {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin: 0 4rem;
      }

      p {
        max-width: 30%;

        &:first-child {
          text-align: right;
        }
      }
    }
  }

  #arrowDown {
    width: 100%;
    text-align: center;

    img {
      cursor: pointer;
    }
  }
}


// mobile

// @media(min-height: 100vw) {
//   .container {
//     main {
//       justify-content: flex-start;

//       section {
//         padding-bottom: 2rem;
//         grid-template-columns: auto;
//       }
//     }
//   }
// }

// @media(max-width: 1200px) {
//   .container {
//     main {
//       width: 100vw;
//       height: 95vh;
      
//       header {
//         div {
//           h1 {
//             font-size: 2rem;
//             line-height: 3rem;
//           }
//         }
    
//         p {
//           font-size: 1.5rem;
//         }
//       }

//       section {
//         gap: 2rem 4rem;
//       }
//     }
//   }
// }

// @media(max-width: 800px) {
//   .container {
//     main {
//       padding: 3rem;
  
//       header {
//         div {
//           img {
//             width: 6rem;
//             height: 6rem;
//           }

//           h1 {
//             font-size: 1.75rem;
//             line-height: 2.5rem;
//           }
//         }
    
//         p {
//           font-size: 1.25rem;
//           max-width: 100%;
//         }
//       }
//     }
//   }
// }

// @media(max-width: 660px) {
//   .container {
//     main {
//       padding: 2rem;
        
//       header {
//         div {
//           h1 {
//             font-size: 1.5rem;
//             line-height: 2rem;
//           }
//         }
    
//         p {
//           font-size: 1rem;
//         }
//       }

//       section {
//         gap: 2rem;
//       }
//     }
//   }
// }

// @media(max-width: 560px) {
//   .container {
//     main {
//       padding: 2rem;
        
//       header {
//         div {
//           h1 {
//             font-size: 1.25rem;
//             margin-left: 1.5rem;
//           }
//         }
//       }

//       section {
//         grid-template-columns: auto;
//       }
//     }
//   }
// }

// @media(max-width: 470px) {
//   .container {
//     main {
//       padding: 2rem;
        
//       header {
//         div {
//           flex-direction: column;
//           margin-bottom: 2rem;

//           img {
//             width: 10rem;
//             height: 10rem;
//             margin: 0 auto 1.5rem;
//           }

//           h1 {
//             font-size: 1.125rem;
//             line-height: 1.75rem;
//             text-align: center;
//             margin-left: 0;
//           }
//         }
//       }
//     }
//   }
// }