.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  main {
    width: min(1400px, 90vw);
    height: 90vh;
    padding: 4rem 4rem 0;
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    header {
      margin-bottom: 4rem;

      div {
        display: flex;
        margin-bottom: 3rem;
        
        img {
          width: 8rem;
          height: 8rem;
          border: 1px solid var(--purple);
          border-radius: 15px;
        }
        
        h1 {
          font-size: 2.75rem;
          line-height: 4rem;
          margin-left: 2.25rem;
        }
      }
      
      p {
        font-size: 1.75rem;
        max-width: 75%;
      }    
    }
    
    section {
      padding-bottom: 4rem;
      display: grid;
      grid-template-columns: auto auto;
      gap: 2.25rem 6rem;
    }
  }
}


// mobile

@media(min-height: 100vw) {
  .container {
    main {
      justify-content: flex-start;

      section {
        padding-bottom: 2rem;
        grid-template-columns: auto;
      }
    }
  }
}

@media(max-width: 1200px) {
  .container {
    main {
      width: 100vw;
      height: 95vh;
      
      header {
        div {
          h1 {
            font-size: 2rem;
            line-height: 3rem;
          }
        }
    
        p {
          font-size: 1.5rem;
        }
      }

      section {
        gap: 2rem 4rem;
      }
    }
  }
}

@media(max-width: 800px) {
  .container {
    main {
      padding: 3rem;
  
      header {
        div {
          img {
            width: 6rem;
            height: 6rem;
          }

          h1 {
            font-size: 1.75rem;
            line-height: 2.5rem;
          }
        }
    
        p {
          font-size: 1.25rem;
          max-width: 100%;
        }
      }
    }
  }
}

@media(max-width: 660px) {
  .container {
    main {
      padding: 2rem;
        
      header {
        div {
          h1 {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
    
        p {
          font-size: 1rem;
        }
      }

      section {
        gap: 2rem;
      }
    }
  }
}

@media(max-width: 560px) {
  .container {
    main {
      padding: 2rem;
        
      header {
        div {
          h1 {
            font-size: 1.25rem;
            margin-left: 1.5rem;
          }
        }
      }

      section {
        grid-template-columns: auto;
      }
    }
  }
}

@media(max-width: 470px) {
  .container {
    main {
      padding: 2rem;
        
      header {
        div {
          flex-direction: column;
          margin-bottom: 2rem;

          img {
            width: 10rem;
            height: 10rem;
            margin: 0 auto 1.5rem;
          }

          h1 {
            font-size: 1.125rem;
            line-height: 1.75rem;
            text-align: center;
            margin-left: 0;
          }
        }
      }
    }
  }
}