.container main {
    width: 60%;
    margin: 0 auto;
    
    hr:first-of-type {
        margin: .5rem 0 2rem;
    }
    
    hr {
        margin: 1.5rem 0;
    }   
    
    hr:last-of-type {
        display: none;
    }
}


// mobile

@media(max-width: 1400px) {
    .container main {
        width: 70%;
    }
}

@media(max-width: 1100px) {
    .container main {
        width: 80%;
    }
}

@media(max-width: 900px) {
    .container main {
        width: 90%;
    }
}

@media(max-width: 700px) {
    .container main {
        hr:first-of-type {
            margin: .5rem 0 2.5rem;
        }

        hr {
            margin: 2rem 0;
        }
    }
}