.container main {
    width: 60%;
    margin: 0 auto;

    header {
        margin-bottom: 2rem;
        
        h2 {
            text-align: center;
        }
    }
    
    hr {
        margin: .5rem 0 1rem;
    }
    
    section {
        div {
            width: 90%;
            height: fit-content;
            margin: 2rem auto 1.25rem;
            
            img {
                width: 100%;
                border-radius: 15px;
                border: 1px solid var(--purple)
            }
        }
        
        p {
            text-align: justify;
            text-indent: 2.5rem;

            &.technologies {
                width: fit-content;
                margin: 0 auto;
                text-indent: 0;

                span {
                    font-size: 1.25rem;
    
                    strong {
                        margin: 0 .75rem;
                    }
                }
            }
        }
    }
}


.links {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    
    a {
        min-width: 25%;
        padding: 1rem;
        
        div {
            img {
                height: 3rem;
            }
            
            span {
                font-size: 1.25rem;
                margin: 0 1rem 0 .75rem;
            }
        }
        
        img:last-child {
            height: 2.25rem;
        }
    }
}


// mobile

@media(max-width: 1300px) {
    .container main {
        width: 80%;
    }
}

@media(max-width: 1000px) {
    .links {    
        a {
            min-width: 15%;
            
            div {
                img {
                    height: 2rem;
                }
                
                span {
                    font-size: 1rem;
                }
            }
            
            img:last-child {
                height: 1.75rem;
            }
        }
    }
}

@media(max-width: 700px) {
    .container main {
        width: 90%;

        section {
            p.technologies {
                span {
                    font-size: 1.125rem;
    
                    strong {
                        margin: 0 .25rem;
                    }
                }
            }
        }
    }

    .links {
        justify-content: space-between;

        a {
            padding: .75rem;
            
            div {
                span {
                    margin: 0 .75rem;
                }
            }
            
            img:last-child {
                height: 1.25rem;
            }
        }
    }
}

@media(max-width: 550px) {
    .links {
        flex-direction: column;

        a:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}